@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

form {
  display: inline-block;
}


.input {
  padding: 1em 2em;
  margin: auto;
  border-top: solid 2px #1890ec;
  border-left: solid 2px #1890ec;
  border-right: solid 2px #1890ec;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #6dbfed;
  width: 20em;
  text-align: center;
  overflow: hidden;
  color: white;
}

.title {
  font-weight: bold;
  display: block;
}

.main-input {
  float: left;
  width: 75%;
  margin: 0;
}

.button {
  float: right;
  text-align: center;
  margin: 0;
  width: 25%;
  border: none;
  border-radius: 1px;
  background-color: #1890ec;
  text-align: center;
  color: white;
}

.list-holder{
  width: 20em;
  border-bottom: solid 2px #1890ec;
  border-left: solid 2px #1890ec;
  border-right: solid 2px #1890ec;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1.5em 2em;
  overflow: hidden;
  margin: auto;
  background-color: white;  
}

.delete{
  float: right;
}

.list{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.complete {
    text-decoration: line-through;
    color: grey;
}