@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

form {
  display: block;
}

.box {
  padding: 1em 2em;
  margin: auto;
  border: solid 2px lightgrey;
  border-radius: 20px;
  background-color: rgb(242, 242, 242);
  width: 20em;
  text-align: center;
  overflow: hidden;
}

.title {
  font-weight: bold;
  display: block;
}

.input {
  float: left;
  padding: .5em;
  width: 15em;
  margin: 0;
}

.button {
  float: right;
  text-align: center;
  margin: 0;
  width: 5em;
  padding: .5em;
  border: none;
  border-radius: 1px;
  background-color: rgb(209, 209, 209);
}

.list {
  padding: 1.5em 2em;
  margin: auto;
  border-radius: solid 2px lightgrey;
  background-color: white;
  overflow: hidden;
  width: 20em;
}

